/* Boilerplate start */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background: #f9f9f9;
  color: #000;
}

body {
  font-size: 1.4em;
  text-rendering: optimizeLegibility;
  font-family: "Poppins", sans-serif;
}

body,
ul,
ol,
dl {
  margin: 0;
}

article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

/* Boilerplate end */
.windows {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Arial;
  font-size: 12px;
  color: black;
}

.loginScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url(../imgs/wallpapers/login.png);
  background-size: cover;
  z-index: 4;
  display: none;
}

.userAccountLoginScreen {
  position: relative;
  width: 200px;
  height: 200px;
  background: url(../imgs/loginUser.png);
  background-size: cover;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: -50px;
}

.userAccountLoginScreen:hover {
  background: url(../imgs/loginUserHover.png);
  background-size: cover;
}

.userAccountLoginScreen span {
  position: absolute;
  bottom: -25px;
  left: 0px;
  right: 0;
  font-size: 22px;
  font-family: "Segoe UI";
  font-weight: 400;
  text-shadow: 1px 1px 4px black;
}

/* Background change */

.bgimg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#back1 {
  background: url("../imgs/wallpapers/wall1.jpg") no-repeat center fixed;
}

#back2 {
  background: url("../imgs/wallpapers/wall2.jpg") no-repeat center fixed;
}

#back3 {
  background: url("../imgs/wallpapers/wall3.jpg") no-repeat center fixed;
}

#back4 {
  background: url("../imgs/wallpapers/wall4.jpg") no-repeat center fixed;
}

#back5 {
  background: url("../imgs/wallpapers/wall5.jpg") no-repeat center fixed;
}

@keyframes transitionIn {
  from {
    opacity: 0.5;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#bgchange div:nth-of-type(1) {
  animation-delay: 40s;
  -webkit-animation-delay: 40s;
}
#bgchange div:nth-of-type(2) {
  animation-delay: 30s;
  -webkit-animation-delay: 30s;
}
#bgchange div:nth-of-type(3) {
  animation-delay: 20s;
  -webkit-animation-delay: 20s;
}
#bgchange div:nth-of-type(4) {
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

#bgchange div:nth-of-type(5) {
  animation-delay: 0;
  -webkit-animation-delay: 0;
}

#bgchange div {
  animation-name: backgroundchangeFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 40s;

  -webkit-animation-name: backgroundchangeFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 40s;
}

.fadeIn {
  opacity: 1;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

.fadeOut {
  opacity: 0;
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

.desktop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.icons {
  width: 100%;
  height: 100%;
  position: absolute;
}

.individualWindows {
  width: 100%;
  height: calc(100vh - 30px);
  position: relative;
}

.window1 {
  width: 50%;
  min-width: 350px;
  position: absolute;
  margin: 20px;
  display: none;
  z-index: 4;
}

.activeWindow {
  position: absolute;
  top: -1px;
  left: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  z-index: 4;
}

.itemTaskbar {
  color: white;
  padding: 0 10px;
  background: rgba(177, 177, 159, 0.473);
  height: 30px;
  border: 1px solid black;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 10px;
  cursor: pointer;
}

.itemTaskbar:hover {
  animation: transitionIn 0.1s;
  background: rgba(255, 255, 255, 0.651);
  color: black;
}

.activeItem {
  background: rgba(255, 255, 255, 0.651);
}

.itemTaskbar img {
  height: 20px;
}

.aboutBody {
  position: relative;
}

.dblock {
  display: block !important;
}

.dnone {
  display: none !important;
}

.dflex {
  display: flex !important;
}

.calculatorIcon {
  background: url(../imgs/calculatorIcon.png);
  background-size: cover;
  position: relative;
}

.userIcon {
  background: url(../imgs/userIcon.png);
}

.skillsIcon {
  background: url(../imgs/skillsIcon.png);
}

.educationIcon {
  background: url(../imgs/educationIcon.png);
}

.projectsIcon {
  background: url(../imgs/projectsIcon.png);
}

.resumeIcon {
  background: url(../imgs/pdfIcon.png);
}

.icon span {
  left: 50%;
  color: white;
  position: absolute;
  bottom: 0;
  text-shadow: 1px 2px 2px #000;
  transform: translateX(-50%);
}

.icon {
  margin: 30px;
  margin-bottom: 40px;
  width: 70px;
  height: 70px;
  display: block;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: top center;
  border: solid 1px transparent;
  border-radius: 2px;
  z-index: 2;
  position: relative;
}

.icon:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}

.taskbar {
  position: absolute;
  display: block;
  top: calc(100vh - 30px);
  left: 0;
  right: 0;
  width: 100vw;
  height: 30px;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 -1px 0 0 #00506b;
  box-shadow: 0 -1px 0 0 #00506b;
  z-index: 2;
}

.taskbar #blur-overlay {
  width: 100vw;
  height: 29px;
  overflow: hidden;
}

.taskbar #blur-overlay div {
  width: 100vw;
  height: 29px;
  background-color: rgba(116, 116, 116, 0.425);
  filter: blur(20px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  box-shadow: 0 0 5px 10px rgba(12, 12, 12, 0.425);
}

.startButtonContainer {
  position: absolute;
  left: 8px;
  bottom: 2px;
}

.maximize {
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 30px);
  z-index: 2;
}

.restore {
  margin: 20px;
  width: 50%;
}

.contentMax {
  height: calc(100vh - 70px) !important;
}

.contentLoadHeight {
  height: 600px;
}

.startButton {
  background: url(../imgs/startButton.png);
  width: 38px;
  height: 38px;
  position: relative;
  z-index: 4;
}

.startButtonHover {
  background: url(../imgs/startButtonFocus.png);
  width: 38px;
  height: 38px;
  z-index: 5;
  position: absolute;
  bottom: 0;
  transition: opacity 0.4s;
  opacity: 0;
}

.startButtonHover:hover {
  opacity: 1;
}

.showDesktop {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 4;
}

.showDesktopImage {
  height: 30px;
  position: relative;
  right: -15px;
  bottom: -2px;
  transition: transform 1s ease-in-out;
  z-index: 2;
}

.showDesktopImage:hover,
.showDesktopImage img:hover {
  transform: rotateX(180);
}

.showDesktop:hover,
.showDesktop img:hover {
  transform: rotateX(180);
}

.control-center {
  width: 70px;
  position: absolute;
  bottom: 5px;
  right: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  z-index: 5;
}

.clock {
  position: absolute;
  bottom: 7px;
  right: 25px;
  color: white;
  text-shadow: 1px 2px 2px #000;
  z-index: 4;
}

.clock:hover {
  color: red;
}

.showDesktopImage:hover {
  transform: rotateX(90);
}

.wallpaperSection {
  width: 100%;
  height: 70vh;
}

.bgpick {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.thumbnail {
  width: 250px;
  height: 140px;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  opacity: 40%;
}

.thumbnail:hover {
  opacity: 100%;
}

.radio-img input[type="radio"] {
  display: none;
}

.radio-img .thumbnail {
  cursor: pointer;
}

.radio-img input[type="radio"]:checked + .thumbnail,
.check-img input[type="checkbox"]:checked + .thumbnail {
  opacity: 100%;
}

.buttonWrapper button {
  width: 200px;
}

.wrapper {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.buttonWrapper {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.active {
  background-color: white;
}

/* .content {
  display: none;
  padding: 0px 20px 20px 20px;
}

.content.active {
  display: block;
} */

.aboutMeBody {
  padding: 0;
}

#home {
  text-align: center;
}

#line2 {
  margin-bottom: 30px;
  font-size: medium;
  font-weight: 500;
}

.aboutFlex {
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.leftContent {
  width: 70%;
  padding: 20px;
  border-left: 1px solid rgb(240, 240, 240);
  border-right: 1px solid rgb(240, 240, 240);
  font-size: medium;
}

.rightContent {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.rightContent img {
  align-self: center;
  width: 50px;
  transition: transform 0.5s;
}

.rightContent img:hover {
  transform: scale(1.2);
}

.logoImg {
  transition: transform 0.2s;
}

.logoImg:hover {
  transform: scale(1.1);
}

.windowInner {
  height: 70vh;
  overflow: scroll;
}

@media only screen and (max-width: 600px) {
  .window1 {
    margin: 0;
  }

  .windowInner {
    height: 90vh;
  }

  .contentMax {
    height: calc(100vh - 150px);
  }

  .contentWrapper {
    overflow: scroll;
  }
}

/* Start menu */

.startMenu {
  width: 400px;
  height: 430px;
  position: absolute;
  left: -8px;
  bottom: 29px;
  background: rgba(49, 49, 49, 0.678);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 1px solid rgb(54, 54, 54);
  z-index: 1;
  animation: fadeIn 0.2s;
  display: none;
}

.startMenuUserIcon {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -30px;
  right: 50px;
  z-index: 5;
  background: url(../imgs/wallpapers/wall3.jpg);
  background-size: cover;
  border: 5px solid rgb(134, 134, 134);
  border-radius: 10px;
}

.startMenuLeftContainer {
  position: absolute;
  width: 58%;
  height: 415px;
  top: 7px;
  left: 7px;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
}

.startMenuLeftContainer p {
  margin-top: 3px;
  margin-left: 3px;
  width: 97%;
  margin-bottom: 5px;
  padding: 12px 10px;
  line-height: 15px;
  color: black;
  border: 1px solid transparent;
}

.startMenuLeftContainer p:hover {
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(216, 239, 255, 1) 0%,
    rgba(140, 185, 255, 1) 100%
  );
  border: 1px solid rgb(118, 142, 194);
  border-radius: 5px;
}

.startMenuLeftContainer hr {
  opacity: 0.2;
}

.startMenuBottomLeftContainer {
  position: absolute;
  bottom: 0;
  width: 57%;
  background: rgb(227, 240, 255);
  color: white;
  height: 50px;
  bottom: 8px;
  left: 9px;
  border-top: 2px solid rgb(203, 219, 253);
}

.startMenuBottomLeftContainer p {
  background: white;
  width: 90%;
  margin: 12px auto;
  padding: 3px 10px;
  font-style: italic;
  color: silver;
  border-top: 1px solid rgb(80, 80, 80);
  border-left: 1px solid rgb(80, 80, 80);
  border-bottom: 1px solid rgb(184, 184, 184);
  border-right: 1px solid rgb(80, 80, 80);
  cursor: pointer;
}

.startMenuBottomRightContainer {
  position: absolute;
  bottom: 10px;
  width: 40%;

  right: 0;
  height: 50px;
}

.startMenuBottomRightContainer button {
  color: white;
  width: 60%;
  margin: 15px 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.26) 22%,
    rgba(144, 146, 150, 0) 100%
  );
  padding: 3px 7px;
  border-radius: 3px;
  border: 1px solid rgb(20, 20, 20);
}

.startMenuBottomRightContainer button:hover {
  color: black;
}

.startMenuRightContainer {
  position: absolute;
  width: 40%;
  height: 300px;
  top: 40px;
  right: 0;
  color: white;
  padding: 10px 10px 10px 3px;
}

.startMenuRightContainer hr {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.39);
  opacity: 0.2;
}

.startMenuRightContainer p {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 10px;
  line-height: 15px;
  border: 1px solid transparent;
}

.startMenuRightContainer p:hover {
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.479) 0%,
    rgba(206, 231, 236, 0) 83%,
    rgba(255, 255, 255, 0.39) 100%
  );
  border-radius: 3px;
  border: 1px solid black;
}
